.addButton {
margin: 10px
}
.standart {
	width: 18rem;
}
.viewMore{
 width: 100%;
 height: 100%; 
  

}
.pop {
	width: 900px; 
	height: 900px;
	margin: 0; 
}
a{
	text-decoration: none;
	color: palevioletred
}
